body {
  margin: 0;
  font-family: 'Lobster', cursive;
  background-image:url("./assets/background.png");
}

font-family {
  font-family: 'Lobster', cursive;
}
code {
  font-family: 'Lobster', cursive;
}
